*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
}

.logo-container img{
    width: 60px;
}

.nav-items ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-right: 20px;
    /* border: 1px solid; */
}

.nav-items ul > li {
    font-size: 24px;
}

.res-card{
    width: 200px;
    height: auto;
    padding:  10px;
    border: 1px solid ;
    border-radius: 10px;
}

.res-card img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.res-card > h3{
    font-size: larger;
    text-align: center;
    text-transform: uppercase;
}

.res-card > h4{
    font-size: 12px;
    text-align: center;
    
}

.res-card >div{
  display: flex;
  gap: 10px;
  font-weight: 100;
  color: green;
  font-size: 12px;
}

 .res-container {
    display: flex;
    gap: 10px;
 }

 .filter-btn{
    background-color: green;
    color: #fff;
    border-radius: 5px;
    margin: 15px 10px;
    padding: 3px 5px;
     cursor: pointer;
     outline:chartreuse;
 }